* {
    font-family: 'Arimo', sans-serif;
}

.title {
    margin-top: 60px;
    font-size: 70px;
}

.image {
    transition: transform .2s;
    margin: 0 auto;

}

.image:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.main-text {
    text-align: center;
}

.courusel {
    height: 100px;
}

.poster {
    object-fit: fill;
}


.footer {
    margin-top: 50px;
}

/* hoover effect */

.container-small {
    position: relative;

}

.image1 {
    display: block;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0e262e;
}

.container-small:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.card {
    padding: 0;

}

.card-wrapper {}