.nav-style {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}